<p><a href="#" class="btn">Button</a></p>
<p><a href="#" class="butn small">Button Small</a></p>
<p><a href="#" class="btn alt">Alternate Button</a></p>
<p><a href="#" class="btn btn-cta">Call-to-Action Button</a></p>
<p><a href="#" class="btn disabled">Disabled Button</a></p>
<p><a href="#" class="text-btn">Text Button</a></p>