
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/jquery.fitvids.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/call_fitvid.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/jquery.easing.1.2.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/widgets/js/thst-recent-posts.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/jquery.stellar.js?ver=0.6.1"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/call-stellar.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/jquery.mCustomScrollbar.min.js?ver=2.8.3"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/call-contscr.js?ver=2.8.3"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/imagesloaded.pkgd.min.js?ver=3.2.2"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/masonry.pkgd.min.js?ver=3.2.2"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-content/themes/podcaster/js/call-masonry.js?ver=1.0"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-includes/js/comment-reply.min.js?ver=4.4.2"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-includes/js/wp-embed.min.js?ver=4.4.2"></script>
	<script type="text/javascript">
	/* <![CDATA[ */
	var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
	var _wpmejsSettings = {"pluginPath":"\/wp\/wp-includes\/js\/mediaelement\/"};
	/* ]]> */
	</script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-includes/js/mediaelement/mediaelement-and-player.min.js?ver=2.18.1"></script>
	<script type="text/javascript" src="http://fox.jasonfounts.com/wp/wp-includes/js/mediaelement/wp-mediaelement.js?ver=4.4.2"></script>
	</body>
</html>