{{>organisms-header-podcaster}}
{{>molecules-block-page-header}}
{{! begin theme generated tags }}
<div class="main-content page">
    <div class="container">
        <div class="row">
			<div class="col-lg-12">
				<div class="page post">
					<div class="entry-content">
					{{! end theme generated tags }}
						<div class="section">
							<h2 class="section-title">Mission</h2>
							<div class="block">
								<p>Glorify God in all things.</p>
							</div>
						</div><!--end Section-->
						<div class="section">
							<h2 class="section-title">The Team</h2>
							<div class="block block-person">
								<div class="person-image"><img class="attachment-square size-square wp-post-image" src="http://fox.jasonfounts.com/wp/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" alt="nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest"></div>
								<div class="person-profile">
									<div class="person-name">Jason Founts</div>
									<div class="person-title">Digital Strategy &amp; Design</div>
									<div class="person-desc">Jason brings his experience in digital strategy, identity and design to Taming the Fox. You can often find him doing anything outdoors, possibly searching for foxes to tame. He helps with Youth Ministry at Saint Paul’s Greek Orthodox church in Irvine because of his belief in giving the youth a strong foundation. Jason graduated from The Graziadio School of Business at Pepperdine University (B.S. in Management).</div>
								</div><!-- .person-profile -->
							</div><!-- .block -->
							<div class="block block-person">
								<div class="person-image"><img class="attachment-square size-square wp-post-image" src="http://fox.jasonfounts.com/wp/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" alt="nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest"></div>
								<div class="person-profile">
									<div class="person-name">Jason Founts</div>
									<div class="person-title">Digital Strategy &amp; Design</div>
									<div class="person-desc">Jason brings his experience in digital strategy, identity and design to Taming the Fox. You can often find him doing anything outdoors, possibly searching for foxes to tame. He helps with Youth Ministry at Saint Paul’s Greek Orthodox church in Irvine because of his belief in giving the youth a strong foundation. Jason graduated from The Graziadio School of Business at Pepperdine University (B.S. in Management).</div>
								</div><!-- .person-profile -->
							</div><!-- .block -->
						</div><!--end Section-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>