<div class="single podcaster-theme"><!--podcaster theme required element wrapper classes -->
	<div style="background-repeat:repeat;" class="single single-featured nav-solid has-featured-image audio-featured-image-thumbnail">	
		<div class="background lolo">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="album-art">
							<img width="700" height="700" src="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-700x700.jpg" class="attachment-square-large size-square-large wp-post-image" alt="Beautiful forest path" srcset="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-700x700.jpg 700w" sizes="(max-width: 700px) 100vw, 700px">
						</div>
						<div class="player_container  with_thumbnail">
							<span class="mini-title">March 8, 2016</span>
							<h2>Episode 000: The Idea</h2>
							<div class="audio">
								<div class="audio_player au_oembed"></div><!--audio_player-->
								<div class="audio_player"><!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
									<span class="mejs-offscreen">Audio Player</span>
									<div id="mep_0" class="mejs-container svg wp-audio-shortcode mejs-audio" tabindex="0" role="application" aria-label="Audio Player" style="width: 100%; height: 30px;">
										<div class="mejs-inner">
											<div class="mejs-mediaelement">
												<audio class="wp-audio-shortcode" id="audio-6-1" preload="none" style="width: 100%; visibility: hidden;" src="http://traffic.libsyn.com/tamethefox/Promo_Trailer.mp3?_=1">
													<source type="audio/mpeg" src="http://traffic.libsyn.com/tamethefox/Promo_Trailer.mp3?_=1"><a href="http://traffic.libsyn.com/tamethefox/Promo_Trailer.mp3">http://traffic.libsyn.com/tamethefox/Promo_Trailer.mp3</a>
												</audio>
											</div>
											<div class="mejs-layers">
												<div class="mejs-poster mejs-layer" style="display: none; width: 100%; height: 30px;"></div>
											</div>
											<div class="mejs-controls">
												<div class="mejs-button mejs-playpause-button mejs-play">
													<button type="button" aria-controls="mep_0" title="Play" aria-label="Play"></button>
												</div>
												<div class="mejs-time mejs-currenttime-container" role="timer" aria-live="off">
													<span class="mejs-currenttime">00:00</span>
												</div>
												<div class="mejs-time-rail" style="width: 695px;">
													<span class="mejs-time-total mejs-time-slider" style="width: 685px;"><span class="mejs-time-buffering" style="display: none;"></span><span class="mejs-time-loaded"></span><span class="mejs-time-current"></span><span class="mejs-time-handle"></span><span class="mejs-time-float" style="display: none;"><span class="mejs-time-float-current">00:00</span><span class="mejs-time-float-corner"></span></span></span>
												</div>
												<div class="mejs-time mejs-duration-container">
													<span class="mejs-duration">00:00</span>
												</div>
												<div class="mejs-button mejs-volume-button mejs-mute">
													<button type="button" aria-controls="mep_0" title="Mute" aria-label="Mute"></button>
												</div>
												<a href="javascript:void(0);" class="mejs-horizontal-volume-slider mejs-mute" aria-label="volumeSlider" aria-valuemin="0" aria-valuemax="100" aria-valuenow="80" aria-valuetext="80%" role="slider" tabindex="0">
													<span class="mejs-offscreen">Use Up/Down Arrow keys to increase or decrease volume.</span>
													<div class="mejs-horizontal-volume-total"></div>
													<div class="mejs-horizontal-volume-current" style="width: 40px;"></div>
													<div class="mejs-horizontal-volume-handle" style="left: 27px;"></div>
												</a>
											</div>
											<div class="mejs-clear"></div>
										</div>
									</div>
								</div><!--audio_player--> 							
							</div><!-- .audio -->
						</div><!-- .player_container -->
						<div class="clear"></div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div>
	</div>
</div>