<style>

@media all and (min-width: 380px and max-width: 768px) {
	.col-xxs-12 {
		width: 100%;
	}
}
article .featured-image {
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 7px 7px 0 0;
}

article.list .featured-image {
    height: auto;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    float: left;
    margin-right: 30px;
}
@media screen and (max-width: 991px) {
	article.list .featured-image {
		float: none;
		border-radius: 7px 7px 0 0;
		margin: 0;
	}
}
@media screen and (max-width: 1199px) {
	article.list .featured-image {
	    float: none;
	    margin: 0;
	}
}
@media screen and (min-width: 450px) {
	article.list .featured-image {
		height: auto;
	    overflow: hidden;
	    position: relative;
	    border-radius: 0;
	    float: left;
	    margin-right: 30px;
	}
}

article.list .featured-image img {
    width: 260px;
    height: 260px;
}

@media screen and (max-width: 991px) {
	article.list .featured-image img {
	    width: 100%;
	    height: auto;
	}
}
@media screen and (max-width: 1199px) {
	article.list .featured-image img {
	    height: auto;
	    width: 100%;
	}
}
/*@media screen and (max-width: 450px) {
	article.list .featured-image img {
	    width: 130px;
	    height: 130px;
	}
}*/

article.list .featured-image .hover {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
article .featured-image .hover {
    background-color: rgba(238,82,65,0.50);
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
article .featured-image .hover .icon {
    position: absolute;
    color: #fff;
    top: 24px;
    right: 24px;
    opacity: 1;
    background-color: #fff;
    color: #228c8b;
    padding: 16px;
    border-radius: 32px;
}

article.list .inside {
    padding: 30px;
    min-height: 260px;
}
@media screen and (max-width: 767px) {
	article.list .inside {
	    padding: 24px;
	}	
}
@media screen and (max-width: 800px) {
	article.list .inside {
	    padding: 20px;
	}	
}
@media screen and (max-width: 991px) {
	article.list .inside {
	    border-radius: 0 0 7px 7px;
	    height: auto;
	}
}
@media screen and (max-width: 1199px) {
	article.list .inside {
	    min-height: auto;
	    min-height: inherit;
	}	
}

article.list .post-header ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
@media screen and (max-width: 767px) {
	article.list .post-header ul {
	    margin: 0;
	    padding: 0;
	}
}
@media screen and (max-width: 991px) {
	article.list .post-header ul {
	    font-size: 10px;
	    line-height: 14px;
	}	
}

article.list .post-header h2 {
    font-size: 26px;
    font-weight: 600;
    margin: 4px 0 0 0;
    line-height: 34px;
}
@media screen and (max-width: 767px) {
	article.list .post-header h2 {
    	font-size: 22px;
    	margin: 0;
	}
}
@media screen and (max-width: 800px) {
	article.list .post-header h2 {
	    font-size: 20px;
	    margin: 0;
	}	
}
@media screen and (max-width: 1199px) {
	article.list .post-header h2 {
	    font-size: 18px;
	}	
}

article.list.post .more-link {
    margin: 0;
    display: inline-block;
}

article.list .post-footer {
    display: none;
}
</style>
<div class="inside-container col-sm-12">
	<article class="post-6 post type-post status-publish format-audio has-post-thumbnail hentry category-podcast post_format-post-format-audio list">
		<div class="featured-image">
			<a href="#"><img width="400" height="400" src="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="attachment-square size-square wp-post-image" alt="Beautiful forest path" srcset="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 700w" sizes="(max-width: 400px) 100vw, 400px" /></a>
			<div class="hover">
				<a href="#" class="">more</a>
			</div><!-- .hover -->
		</div><!-- .featured-image -->
		<div class="inside">
			<div class="post-header">
				<ul>
					<li>Podcast</li>
				</ul>
				<h2 class=" not-truncate"><a href="#">Episode 000: The Idea</a></h2>
			</div><!-- .post-header -->
			<div class="post-content">
				Some words and stuff about the trailer. &nbsp;<a href="#" class="more-link"> Read More<span class="meta-nav"></span></a>
			</div>
			<div class="post-footer clearfix">
				<span class="date">March 8, 2016</span>
			</div><!-- .post-footer -->
		</div><!-- .inside -->
	</article>
</div>