<!--header-->
<div id="header" class="above  has-featured-image  nav-sticky large_nav nav-solid drop">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<header class="header" id="top" role="banner">
					<a href="#" id="open-off-can" class="open-menu">menu</a>
					<h1 class="main-title logo">
					<a href="#" title="" rel="home">Tame the Fox</a>
					</h1>
				</header><!--header-->
			</div><!--col-lg-3-->
			<div class="col-lg-9 col-md-9">
				<nav id="nav" class="navigation drop" role="navigation">
					<ul id="menu-primary" class="thst-menu">
						<li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44"><a href="#">Episodes</a></li>
						<li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"><a href="#">About</a></li>
						<li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="#">Contact Us</a></li>
					</ul>
				</nav><!--navigation-->
			</div><!--col-lg-9-->
		</div><!--row-->
	</div><!--container-->
</div><!-- .above -->
<div class="nav-placeholder nav-sticky large_nav has-featured-image nav-solid "><p>This is a placeholder for your sticky navigation bar. It should not be visible.</p>
</div><!-- .above.placeholder -->
<!--END header-->