<!-- Begin Footer -->
<footer class="main">
	<div class="footer-widgets">
		<div class="container">
			<div class="row">
				<div class="">
					<div class="footer-inner">
						<img src="../../images/fox/logo-square-trans.png" alt="logo square transparent" width="300" height="300" class="logo aligncenter"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="postfooter">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-4 col-md-4">
						<span class="copyright">Tame the Fox © 2016</span>
					</div><!-- .col -->
					<div class="col-lg-4 col-md-4">
					</div><!-- .col -->
					<div class="col-lg-4 col-md-4">
						<span class="colophon"><a href="#">Colophon</a></span>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .post-footer -->
<!-- End Footer -->