/*.inside-container {
	position: absolute; 
	left: 0%; 
	top: 0px;
}*/
.block {
	padding: 1em;
	//margin: 0 0 2.5em;
	//box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
	border-radius: $border-radius;
	background-color: $white;
}
.block p {
	margin: 0;
	color: $gray;
	font-size: $font-size-large;
	line-height: 1.5em;
}

/* Block Thumbnail with Headline */
.block-thumb {
	display: table;
	width: 100%;
	border-collapse: collapse;

	.b-inner {
		display: table-row;
		vertical-align: top;
  		overflow: hidden;
	}

	.b-thumb {
		max-width: 600px; //to center text
		img {
			display: block;
			max-width: 100%;
			height: auto;
			border-radius: $border-radius;
 		}
	}

	.b-text {
		max-width: 600px; //to center text
		color: $text-link;
	}
	.b-title {
		margin: 20px 0;
		@media all and (max-width: $bp-med) {
			margin: 10px 0 20px;
		}
	}
}

// Episode block
.album-art img {
	border-radius: $border-radius;
}


/* MAIL CHIMP NEWSLETTER FORM BLOCK */
#mc_embedbed-subscribe {
	display: inline-block;
}

#mc_embed_signup {
	clear: left;
    border-radius: $border-radius;
    padding: 0 20px 20px;
    margin-top: 0px;
    overflow: hidden;
    background: $white;
}

#mc_embed_signup .mc-field-group {
	padding-bottom: 0; 
	max-width: 240px; 
	display: inline-block;
	min-height: auto !important;
	margin-right: .5em !important;
}
#mce-EMAIL {
	display: inline-block;
	line-height: normal !important;
}

#mc_embed_signup .mc-field-group input {
    padding: .5em 0 !important;
    text-indent: 2%;
    font-size: 1em !important;
}
#mc_embed_signup .submit {
	display: inline-block;
	vertical-align: top;
}
#mc_embed_signup .button,
.button {
	font-size: 1em !important;
	line-height: normal !important;
	padding: .5em 1.25em !important;
	margin: 0 !important;
    height: auto !important; //41px;
    background-color: $red-fox !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error,
#mce_inline_error {
	margin: 0 !important;
}


// *overrides*
// PERSON BLOCK
.block-person {
	margin-bottom: $space-double;
}
.person-image,
.person-profile {
	display: inline-block;
}
.person-image {
	// width: 30%;
	// text-align: right;
}
.person-image img {
	width: 100%;
	max-width: 260px;
}
.person-profile {
	margin: 0 1%;
	@media all and (min-width: $bp-small-3) {
		vertical-align: top;
		width: 67%;
	}
}
.person-name {
	//pulled from h2 article list
	font-size: 30px;
    font-weight: 100;
    margin: 4px 0 8px 0;
    line-height: 1em;
    color: $gray;
}
.person-title {
	//pulled from ul article list
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: $red-fox;
}
.person-desc {
	font-size: $font-size-large;
	line-height: 1.5em;
	color: $gray-med;
}

.latest-episode .next-week .mini-title, 
.front-page-header .mini-title, 
.next-week .mini-title,
.single .single-featured span.mini-title {
	color: $red-fox;
}

// Episode List (mainly on home page)
.list-of-episodes article.list {
	border-radius: $border-radius;
}

/* HERO */
// overrides

.reg.nav-sticky {
	@media screen and (max-width: 480px) {
		padding-top: 0;
	}
}

.schedule-message {
	color: $white;
}

/* media player */
.podcaster-theme .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	background-color: $red-fox;
}

