/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
	border-top: 4px solid $green-dark;
}
footer .footer-widgets {
	padding-top: 1em;
	padding-bottom: 0;
	background-color: $brown;
	color: white;
}
footer .logo {
	display: block;
}

.postfooter {
	background-color: $brown !important;
	padding: 0 0 25px;
}

.copyright {
	font-size: 14px;	
}
.colophon {
	font-size: 14px;

	a {
		color: $red-fox !important;
	}
}
.postfooter .row div:nth-child(3) {
	@media all and (min-width: 62em) {
		text-align: right;
	}
}

footer .credit {
	margin: auto;
	text-align: center;
	line-height: 1em;
}