/* HEADER */
.above.nav-sticky.header-scrolled,
.above.nav-sticky.header-scrolled .open-menu {
    background-color: $brown;
}
.above, 
.postfooter,
.above.nav-sticky .open-menu {
    background-color: $red-fox;
}
.above.small_nav #nav .thst-menu li a, 
.above.small_nav header .main-title a:link, 
.above.small_nav header .main-title a:visited {
    color: $white;
}

// nav menu button
.above.large_nav .open-menu, 
.above.small_nav .open-menu {
	@media screen and (max-width: 767px) {
	    padding: 24px 0;
	    width: 64px;
	    text-align: center;
    }
}
.open-menu {
	@media screen and (max-width: 991px){
		right: 15px;
		left: auto !important;
		width: 110px;
	    padding: 47px 0;
	    text-align: center;
	    text-decoration: none;
	}
	@media screen and (min-width: 481px) {
		font-size: 16px;
	}
}
.open-menu:focus, 
.open-menu:hover, 
.open-menu:link:focus, 
.open-menu:link:hover, 
.open-menu:visited:focus, 
.open-menu:visited:hover {
	color: #eee;
}
a.open-menu {
    transition-duration: 0s; //override
}

// ?
.nav-placeholder {
	padding-bottom: 0; //override
}

.front-page-header {
	margin-bottom: 40px;
}

// Logo responsiveness
header .main-title a {
	background-size: 50%;

	@media screen and (min-width: 481px) {
		background-size: 240px;
	}
	@media screen and (min-width: 991px) {
    	background-size: auto;
	   	min-width: 260px;
    }
}


#nav {
	@media screen and (max-width: 991px){
		right: 0;
	}
}