// block adjustments because podcaster/bootstrap doesn't space elements
[role=main] {
	.col-lg-3,
 	.col-lg-6 {
 		margin-bottom: $space-double;

 		@media all and (min-width: 1199px) {
			margin-bottom: 0;
 		}
	}
}

// bootstrap + podcaster missing media queries. MQs are 1200, 992, 768
@media all and (max-width: 768px) {
	.col-xs-6 {
		width: 50%;
	}
}
@media all and (max-width: 380px) {
	.col-xxs-12 {
		width: 100%;
	}
}