/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	//reminder that this exists
}

.super-container {
	background: $body-color !important;
}
.main-content, 
.page,
.single .single-featured {
	background-color: $body-color;
}

//overrides for podcaster theme
.page.page-template .post .entry-content, 
.page.page-template-default .post .entry-content,
.post-type-archive-podcast.archive .main-content {
	background-color: $body-color;
}
.archive .main-content, 
.page.page-template .main-content .page.post, 
.page.page-template-default .main-content .page.post, 
.page.page-template .main-content .sidebar {
	@media screen and (max-width: 991px) {
		padding: 0 0;
	}
}

.page .post .entry-content {
    padding: 0;
}

.single .thst-main-posts {
    padding: 80px 0;
    background-color: $body-color;
}
.thst-main-posts .content {
    background: $body-color;
}