/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	//reminder that this exists
}

.main-content, .page {
	background-color: #ececec;
}

//overrides for podcaster theme
.page.page-template .post .entry-content, 
.page.page-template-default .post .entry-content,
.post-type-archive-podcast.archive .main-content {
	background-color: #ececec;
}
.archive .main-content, 
.page.page-template .main-content .page.post, 
.page.page-template-default .main-content .page.post, 
.page.page-template .main-content .sidebar {
	@media screen and (max-width: 991px) {
		padding: 0 0;
	}
}

.page .post .entry-content {
    padding: 0;
}