.section {
	margin-bottom: $space-quad;
	height: 100%; //collapse margin fix
}
.section:last-child {
	margin-bottom: 0;
}
.section-title {
	color: $gray;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: .5em;
}

.list-of-episodes {
	//padding: 40px 0 80px 0;
	padding: 0 !important; //override podcaster
	.block {
		background: $gray-light-4;
		opacity: 1;
	}
	.b-inner {
		background: $gray-light-4;
		opacity: 1;
	}
}

.single .caption-container {
	background-color: $gray-light-4;
	border-top: 1px solid $gray-light-3;
}

.single .content {
	background-color: $gray-light-4;
}