.section {
	margin-bottom: $space-quad;
	height: 100%; //collapse margin fix
}
.section:last-child {
	margin-bottom: 0;
}
.section-title {
	color: $gray;
	font-size: 36px;
	font-weight: 600;
	margin-bottom: .5em;
}