<nav id="nav" class="navigation drop" role="navigation">
	<ul class="nav-list thst-menu">
		<li><a href="{{ url }}">Episodes</a></li>
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">Contact Us</a></li>
	</ul>
</nav><!--end .nav-->