<div class="reg nav-sticky  nav-solid has-featured-image">
	<div class="static">
		<div class="content_page_thumb" style="background-repeat:no-repeat; background-size:cover;  background-image: url('http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest.jpg')">
			<div id="loading_bg" class="hide_bg">
			</div>
			<div class="screen">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="heading">
								<div class="title" style="text-align:center;">
									<h1>Page Title</h1>
									<p>page sub-title text</p>
								</div>
							</div><!-- .heading -->
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .container -->
			</div>
		</div>
	</div><!-- .static -->
</div>