<div class="reg nav-sticky  nav-solid no-featured-image">
	<div class="static">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading">
						<div class="title">
							<h1 class="page-title">{{ headline.short }}</h1>
							<p class="page-intro">{{ headline.medium }}</p>
						</div>
					</div><!-- .heading -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .static -->
</div>