<div class="reg nav-sticky  nav-solid no-featured-image">
	<div class="static">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading">
						<div class="title">
							<h1>Page Title</h1>
							<p>page sub-title text</p>
						</div>
					</div><!-- .heading -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</div><!-- .static -->
</div>