<div class="">
	<div class="block">
		<div class="person-image">
			<img src="http://fox.jasonfounts.com/wp/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="attachment-square size-square wp-post-image" alt="nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest">
		</div><!-- .person-image -->
		<div class="person-profile">
			<div class="person-name">Jason Founts</div>
			<div class="person-title">Digital Strategy & Design</div>
			<div class="person-desc">
				Jason brings his experience in digital strategy, identity and design to Taming the Fox. You can often find him doing anything outdoors, possibly searching for foxes to tame. He helps with Youth Ministry at Saint Paul’s Greek Orthodox church in Irvine because of his belief in giving the youth a strong foundation. Jason graduated from The Graziadio School of Business at Pepperdine University (B.S. in Management).
			</div>
		</div><!-- .person-profile -->
	</div><!-- .person-block -->
</div>