<div class="list-of-episodes">
	<div class="container">
		<div class="row masonry-container">
			<div class="inside-container col-lg-12 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<article class="post-6 post type-post status-publish format-audio has-post-thumbnail hentry category-podcast post_format-post-format-audio list">
					<div class="featured-image">
						<a href="#"><img width="400" height="400" src="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="attachment-square size-square wp-post-image" alt="Beautiful forest path" srcset="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 700w" sizes="(max-width: 400px) 100vw, 400px" /></a>
						<div class="hover">
							<a href="#" class="batch icon" data-icon="&#xF16b;"></a>
						</div><!-- .hover -->
					</div><!-- .featured-image -->
					<div class="inside">
						<div class="post-header">
							<ul>
								<li>Podcast</li>
								<li></li>
							</ul>
							<h2 class=" not-truncate"><a href="#">Episode 000: The Idea</a></h2>
						</div><!-- .post-header -->
						<div class="post-content">
							Some words and stuff about the trailer. &nbsp;<a href="#" class="more-link"> Read More<span class="meta-nav"></span></a>
						</div>
						<div class="post-footer clearfix">
							<span class="date">March 8, 2016</span>
						</div><!-- .post-footer -->
					</div><!-- .inside -->
				</article>
			</div>
			<div class="inside-container col-lg-12 col-md-3 col-sm-4 col-xs-6 col-xxs-12">
				<article class="post-6 post type-post status-publish format-audio has-post-thumbnail hentry category-podcast post_format-post-format-audio list">
					<div class="featured-image">
						<a href="#"><img width="400" height="400" src="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="attachment-square size-square wp-post-image" alt="Beautiful forest path" srcset="../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, ../../images/fox/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 700w" sizes="(max-width: 400px) 100vw, 400px" /></a>
						<div class="hover">
							<a href="#" class="batch icon" data-icon="&#xF16b;"></a>
						</div><!-- .hover -->
					</div><!-- .featured-image -->
					<div class="inside">
						<div class="post-header">
							<ul>
								<li>Podcast</li>
								<li></li>
							</ul>
							<h2 class=" not-truncate"><a href="#">Episode 000: The Idea</a></h2>
						</div><!-- .post-header -->
						<div class="post-content">
							Some words and stuff about the trailer. &nbsp;<a href="#" class="more-link"> Read More<span class="meta-nav"></span></a>
						</div>
						<div class="post-footer clearfix">
							<span class="date">March 8, 2016</span>
						</div><!-- .post-footer -->
					</div><!-- .inside -->
				</article>
			</div>
		</div><!-- .row -->
	</div><!-- .container -->
</div><!-- .list-of-episodes -->