<div class="page-template-pagepage-podcastarchive-php post-type-archive-podcast">
	<div class="main-content page archive-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="entries list clearfix">
						<article class="podpost">
							<div class="entry-content clearfix">
								<header class="post-header clearfix">
									<div class="cover-art">
										<img width="400" height="400" src="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="podcast_image wp-post-image" alt="Episode 001: The first one" title="Episode 001: The first one" srcset="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-700x700.jpg 700w" sizes="(max-width: 400px) 100vw, 400px">									</div>	
								</header>
								<p>Some enticing words for the very first whole episode. &nbsp;</p>
								<footer class="entry-footer">
									<ul class="podpost-meta clearfix">
										<li class="title not-truncate"><a href="http://fox.dev/show-me-the-player/" title="Episode 001: The first one">Episode 001: The first one</a></li>
										<li class="categories"> <a href="http://fox.dev/category/podcast/">Podcast</a></li>
										<li class="listen"><a class="butn extrasmall" href="http://fox.dev/show-me-the-player/">Listen</a></li>
									</ul>
								</footer>
							</div><!--entry-content-->
							</article>
						<article class="podpost">
							<div class="entry-content clearfix">
								<header class="post-header clearfix">
									<div class="cover-art">
										<img width="400" height="400" src="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg" class="podcast_image wp-post-image" alt="Episode 000: The Idea" title="Episode 000: The Idea" srcset="http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-150x150.jpg 150w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-400x400.jpg 400w, http://fox.dev/wp-content/uploads/2016/03/nature-beautiful-forest-path-background-picture-new-best-hd-wallpapers-of-forest-700x700.jpg 700w" sizes="(max-width: 400px) 100vw, 400px">
									</div>
								</header>
								<p>Some words and stuff about the trailer. &nbsp;</p>
								<footer class="entry-footer">
									<ul class="podpost-meta clearfix">
										<li class="title not-truncate"><a href="http://fox.dev/the-little-prince/" title="Episode 000: The Idea">Episode 000: The Idea</a></li>
										<li class="categories"> <a href="http://fox.dev/category/podcast/">Podcast</a></li>
										<li class="listen"><a class="butn extrasmall" href="http://fox.dev/the-little-prince/">Listen</a></li>
									</ul>
								</footer>
							</div><!--entry-content-->
						</article>
						<div class="pagination clearfix"></div><!--pagination-->
					</div><!--entries-->
				</div><!--col-lg-12-->
			</div>
		</div>
	</div>
</div>