<div class="thst-main-posts">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="content">
					<article id="post-6" class="post post-6 type-post status-publish format-audio has-post-thumbnail hentry category-podcast post_format-post-format-audio">
						<div id="mediainfo">
							<h6 class="download-heading">Downloads:</h6>
							<ul class="download">
								<li><a href="http://traffic.libsyn.com/tamethefox/Trailer_-_Tame_the_Fox.mp3" download="">Trailer_-_Tame_the_Fox.mp3</a> <a class="butn" href="http://traffic.libsyn.com/tamethefox/Trailer_-_Tame_the_Fox.mp3" download="">Download</a></li>
							</ul>
						</div><!-- #audioinfo -->			
						<div class="entry-content">
							<h2>Introducing Tame the Fox</h2>
							<p>Tame the Fox is an&nbsp;all new podcast series inspired by the book the Little Prince and the teachings of the Orthodox Christian Church. In the show, we explore practical ways to more deeply connect with and understand ourselves, God, and our neighbor.</p>
							<h2>Inspiration</h2>
							<p><span style="font-weight: 400;">Inspired by the timeless French novella, “The Little Prince” by </span><span style="font-weight: 400;">Antoine de Saint-Exupéry, our show delves into the essential matters of life that we know are invisible to the eye;</span> <span style="font-weight: 400;">matters such as love, forgiveness, suffering, personal growth, spiritual disciplines, friendships and relationships.</span></p>
							<h2>Your Hosts</h2>
							<p><span style="font-weight: 400;">Your hosts Christian Siskos and Ron Burkhard offer their experiences, challenges, and personal stories to communicate practical ways to help navigate the labyrinth of the spiritual life. Learn more about Christian and Ron at <a href="http://fox.dev/about-us/">About Us</a>.&nbsp;</span></p>
							<h2>Contact Us</h2>
							<p>Have an idea for an episode topic? Know someone we should interview? Email us at <a href="mailto:hello@tamethefox.com">hello@tamethefox.com</a>. We’d love to hear from you.</p>
						</div><!-- .entry-content -->
						<ul class="entry-categories">
							<li><strong>Categories: </strong><a href="http://fox.dev/category/podcast/">Podcast</a></li>
						</ul><!--tags-->
						<footer class="entry-meta clearfix">
							<ul class="singlep_pagi clearfix">
	            				<li class="right">
	                				<p>Previous Post</p>
	    		              	</li>
	            				<li class="left">
	                				<p>Next Post</p>
	        	                	← <a href="http://fox.dev/tame-mean-01/" rel="next">What Does “Tame” Mean? | 01</a>
	        	                </li>
	        				</ul>
						</footer><!-- .entry-meta -->
					</article><!-- #post -->
					<div class="closed-comments">Comments have been closed.			</div>
				</div><!-- .content-->
			</div><!-- .col-12 -->
		</div><!--row-->
	</div><!--container-->
</div>