<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffb68f;"></span>
		<span class="sg-label">#ffb68f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c74600;"></span>
		<span class="sg-label">#c74600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #91de78;"></span>
		<span class="sg-label">#91de78</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #35ba09;"></span>
		<span class="sg-label">#35ba09</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #207105;"></span>
		<span class="sg-label">#207105</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b2314;"></span>
		<span class="sg-label">#3b2314</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #fff;"></span>
		<span class="sg-label">#fff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f5f5f5;"></span>
		<span class="sg-label">#f5f5f5</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">#ccc</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #aaa;"></span>
		<span class="sg-label">#aaa</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #777;"></span>
		<span class="sg-label">#777</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">#333</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000</span>
	</li>
</ul>