<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #c74600;"></span>
		<span class="sg-label">#c74600</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffb68f;"></span>
		<span class="sg-label">#ffb68f</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #35ba09;"></span>
		<span class="sg-label">#35ba09</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #91de78;"></span>
		<span class="sg-label">#91de78</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #3b2314;"></span>
		<span class="sg-label">#3b2314</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f9f9f9;"></span>
		<span class="sg-label">#f9f9f9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ddd;"></span>
		<span class="sg-label">#ddd</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #bbb;"></span>
		<span class="sg-label">#bbb</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #545454;"></span>
		<span class="sg-label">#545454</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #606060;"></span>
		<span class="sg-label">#606060</span>
	</li>
</ul>